.contributor-page {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  display: none;
}

#leg-button {
  position: absolute;
  top: 20px;
  left: 10px;
}

.legislator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(168, 201, 255, 0.6);
  padding: 20px 60px 20px 60px;
  margin-top: 20px;
  border-radius: 15px;
  .party-office {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  h2 {
    font-size: 35px;
  }
}

.contributor-web {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.donor {
  margin: 3%;
  background: rgba(168, 201, 255, 0.6);
  margin-top: 30px;
  padding: 30px;
  border-radius: 5px;
}
